<?php
    use Lib\Msg;
?>

<link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.4/dist/leaflet.css"
   integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
   crossorigin=""/>
<script src="https://unpkg.com/leaflet@1.3.4/dist/leaflet.js"
   integrity="sha512-nMMmRyTVoLYqjP9hrbed9S+FzjZHW5gY1TWCHA5ckwXZBadntCNs8kEqAWdrb9O7rxbCaA4lKTIWjDXZxflOcA=="
   crossorigin=""></script>





<div class="home-overlay"></div>
<section class="page-header">
  <div class="container">
   
  </div>
</section>

<style>
    .scrolloff
		{
        pointer-events: none;
    }
</style>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>


	<!-- Mapa -->
	<div class="col-md-9">
		<div id="overlay">
			<div id="mapid" style="border:1px solid; height:800px; width:100%"></div>
		</div>
	</div>
	<!-- Mapa -->
	
	<!-- Lista itemów na mapie -->
	<div class="col-md-3">
		<div id="ship_list" style="height:600px; overflow:auto;" class="panel-group" id="accordion">
				
		<?php
			$i = 1;
			foreach($this->getItems() as $item)
			{
		?>
		<div class="panel panel-default" id="item" data-itemid="<?php print $item->id ?>">
			<a data-toggle="collapse" data-parent="#accordion" href="#collapse<?php print $i ?>">
			<div class="panel-heading">
				<h2 class="panel-title">
					<?php print $i; ?>
					<?php print $item->name.'('.$item->mmsi.')'; ?>
				</h2>
			</div>
			</a>
			<div id="collapse<?php print $i ?>" class="panel-collapse collapse">
				<div class="panel-body"><?php print $item->lon; ?></div>
				<div class="panel-body"><?php print $item->lat; ?></div>
			</div>
		</div>
		
		<?php
			$i++;
			}
		?>
		</div>
		<!-- Lista itemów na mapie -->
	</div>
	
</div>
  

<script>

	var mymap = L.map('mapid').setView([51.505, -0.09], 5);

	L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw', {
		maxZoom: 18,
		attribution1: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, ' +
			'<a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
			'Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
		id: 'mapbox.streets'
	}).addTo(mymap);


</script>

<script>
    
	function initPlaces(url)
	{
        
		$.ajax
		({
			type: "POST",
			url: url,
			success: function(html)
			{

				places = JSON.parse(html);

				alert(places.length);
				for (var i = 0; i < places.length; i++)
                                {                                        
                                        var marker = L.marker([places[i].lat, places[i].lon]).addTo(mymap);
					/* nie używamy, robimy listę zwykłym html
					  createListItem(marker); */
				}
				
				
				
			},
		});
		
	}
		
		
    
        initPlaces("ship/shipsJson");
	alert(places.length); 
       
        
       
    
</script>


<!--<script src="../../dist/snazzy-info-window.min.js"></script>-->

<!-- scroll listy statków -->
<script>
	
		$('#ship_list').scroll(function()
		{
			
				console.log($('#ship_list').scrollTop());
				console.log($('#ship_list').height());
				console.log($('#ship_list').scrollBottom());
			/*
				request("#blog-content","page/content/setpage-","<?php print $this->CurrentItem->url_address; ?>") ;
			*/
			
			console.log("scroll");
			if ($(window).scrollTop() + $(window).height() > ($(document).height() - 200))
			{
				/* Reached page bottom. Call the ajax function or any other foo here. 
				request("#blog-content","page/content/setpage-","<?php print $this->CurrentItem->url_address; ?>") ;
				*/
				alert('bottom');
			}
		});
</script>

